.advantages__icon img {
    width: 50px;
    height: 50px;
    padding-right: 15px;
}

.advantages__column {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.advantages__row {
    display: flex;
    align-items: center;
}

.advantages__text p {
    font-size: 12px;
    white-space: nowrap;
}

.advantages__text h3 {
    font-size: 15px;
    white-space: nowrap;
}
